* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #030305;
    background: #fff;
    line-height: 1.6;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    height: 90px;
    margin: 0px 100px;
    border-bottom: 1px solid #e5e5e5;
}

.header-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 70px;
    object-fit: cover;
}

.logo p {
    margin-right: 250px;
}

.nav ul {
    display: flex;
    gap: 80px;
    list-style: none;
    margin-right: 300px;
}

.nav li a {
    font-weight: 200;
    text-decoration: none;
    font-size: 15px;
}

.nav a {
    color: #030305;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav a:hover {
    color: #666;
}

.hero {
    position: relative;
    height: 794px;
    background: url('../images/main_urus.png') center/cover no-repeat;
}

.hero-content {
    position: absolute;
    top: 195px;
    max-width: 855px;
}

.hero h1 {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 40px;
    line-height: 1.1;
}

.hero p {
    font-size: 16px;
    max-width: 500px;
    margin-bottom: 56px;
    opacity: 0.95;
}

.btn {
    display: block;
    background: #030305;
    color: #fff;
    width: 100%;
    padding: 22px 50px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: background 0.3s;
    text-transform: uppercase;
}

.main_btn {
    width: 40%;
}

.btn:hover {
    background: #222;
}

.section-title {
    font-size: 60px;
    font-weight: 900;
    margin: 120px 0 30px;
}

.cars-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 120px;
}

.car-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.3s;
}

.car-card:hover {
    transform: translateY(-10px);
}

.car-card img {
    width: 100%;
    height: 261px;
    object-fit: cover;
}

.car-card h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 15px;
}

.car-specs {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.spec {
    text-align: center;
    font-size: 16px;
}

.icon_drive {
    width: 35px;
    height: 35px;
    background: url('../images/Drive.png') center/cover no-repeat;
    margin: 0 auto 10px;
    position: relative;
}

.icon_gear {
    width: 35px;
    height: 35px;
    background: url('../images/Gear.png') center/cover no-repeat;
    margin: 0 auto 10px;
    position: relative;
}

.icon_seats {
    width: 35px;
    height: 35px;
    background: url('../images/Seats.png') center/cover no-repeat;
    margin: 0 auto 10px;
    position: relative;
}

.contact-section {
    margin-bottom: 100px;
}

.contact {
    gap: 100px;
}

.contact-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.contact-container img {
    width: 100%;
    object-fit: contain;
}

.contact-form {
    max-width: 400px;
}

.contact h2 {

    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    max-width: 200%;
}


.contact p {
    font-size: 16px;
    color: #5c5c5e;
    margin-bottom: 50px;
}

.contact-form input {
    width: 100%;
    height: 65px;
    padding: 0 18px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    font-size: 16px;
    color: #333;
}

.contact-form input::placeholder {
    color: #5c5c5e;
}

.footer {
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p {
    font-size: 15px;
}